.common-header {
	height: 7.5vh;
	width: 100vw;
	background-color: #52bd6d;
	display: flex;
	align-items: center;
	/* border-radius: 0 0 1rem 1rem; */
	justify-content: center;
	position: fixed;
	top: 0;
}

.menu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 600px;
	padding: 0 0.5rem;
}

.logo {
	height: 3rem;
	width: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo img {
	width: 100%;
	height: 100%;
}

/* mainHeader.jsx */
.userNavbar {
	height: 1.5rem;
	display: flex;
	gap: 0.75rem;
}

.userNavbar img {
	width: 1.5rem;
	height: 1.5rem;
}

/* groupHeader.jsx */
.groupName {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
	font-weight: 600;
	color: white;
	gap: 0.5rem;
}

.group-header-back-button-img {
	width: 1rem;
	height: 1rem;
}

.headerRight {
	height: 1.5rem;
	display: flex;
	justify-content: space-between;
	gap: 0.75rem;
}

.headerRight img {
	width: 1.5rem;
	height: 1.5rem;
}

.group-header-space {
	width: 1rem;
}

.notification-icon-wrapper {
	position: relative;
}

.red-dot {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background-color: red;
	border-radius: 50%;
}
