.main-container {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	gap: 1rem;
}

.main-profile-area {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.main-profile-data {
	background-color: white;
	display: flex;
	border-radius: 0.5rem;
}

.main-profile-image {
	width: 6rem;
	height: 6rem;
	object-fit: cover;
}

.main-profile-info {
	display: flex;
	flex-direction: column;
}

.main-profile-bank-info {
	display: flex;
	gap: 0.25rem;
}

.main-bank-logo {
	width: 2rem;
	height: 1rem;
	object-fit: cover;
}

.main-groups-area {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.main-groups-list {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.main-group-area {
	background-color: white;
	display: flex;
	border-radius: 0.5rem;
	gap: 0.5rem;
}

.group-profile-image {
	width: 6rem;
	height: 6rem;
	object-fit: cover;
	border-radius: 0.5rem;
}