.group-info-container {
    display: flex;
    flex-direction: column;
}

.group-info-profile-picture-container {
    margin-bottom: 1rem;
}

.group-info-profile-picture {
    height: 10rem;
    width: 100%;
    object-fit: cover;
    display: block;
    border-bottom: 1px solid #dfdfdf;
}

.group-info-profile-placeholder {
    height: 10rem;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
}

.group-info-profile-input {
    display: none; /* input 파일 선택 버튼 숨김 */
}

.group-info-details,
.group-info-members {
    border-bottom: 1px solid #dfdfdf;
}

.group-info-header,
.group-info-members-header {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-info-toggle-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.group-info-edit-button,
.group-info-invite-button {
    color: #52bd6d;
    border: 1px solid #52bd6d;
    background-color: #fff;
    padding: 0.25rem 0.75rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.group-info-body,
.group-info-members-list {
    display: flex;
    flex-direction: column;
}

.group-info-name,
.group-info-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.group-info-start-date-value {
    display: flex;
    gap: 0.25rem;
    padding: 0.5rem 1rem;
}

.group-info-name-value, 
.group-info-intro-value {
    display: flex;
    gap: 0.25rem;
}

.group-info-members-count {
    text-align: center;
    color: gray;
    font-size: 0.875rem;
}

.group-info-members-actions {
    display: flex;
    align-items: center;
}

.group-info-member {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdf;
    padding: 0.5rem 1rem;
}

.group-info-member-profile {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 99rem;
    border: 1px solid black;
}

.group-info-member-details {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.group-info-member-name {
    font-size: 1rem;
}

.group-info-pending-invites {
    display: flex;
    flex-direction: column;
}

.group-info-pending-label {
    padding: 1rem 1rem;
}

.group-info-member-actions {
    display: flex;
    gap: 0.5rem;
}

.group-info-member-approve,
.group-info-member-reject {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #52bd6d;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
}

.group-info-member-reject {
    border-color: #ff6347;
    color: #ff6347;
}
