.account-area {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.deposit-detail-one {
	display: flex;
	flex-direction: column;
	margin: 1rem;
}

.deposit-list-place-price {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 0.3rem;
}

.deposit-list-time-balance {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.deposit-list {
	width: 100%;
	height: 65%;
	background-color: #ffffff;
	border: 0.5px solid lightGray;
}

.deposit-list-date {
	font-size: 14px;
	font-weight: 700;
	margin-left: 1rem;
}

.deposit-list-place {
	font-size: 16px;
	font-weight: 700;
}

.deposit-list-price {
	font-size: 16px;
	font-weight: 700;
}

.deposit-list-time {
	font-size: 14px;
	font-weight: 700;
	color: #959494;
}

.deposit-list-balance {
	font-size: 14px;
	font-weight: 700;
	color: #959494;
}

.searchStandard {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 1rem;
}

.dues {
	margin: 10px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 10.3rem;
}

text[name='dues'] {
	font-size: 12px;
	font-weight: 700;
}

.account-balance {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 320px;
	height: 191px;
}

.account-balance-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #53b36c;
	border-radius: 20px;
	width: 320px;
	height: 100px;
	box-shadow: 3px 6px 5px #1a19193e;
}

text[name='account-number'] {
	margin: 0px;
	color: #eae5e5;
	font-size: 12px;
}

text[name='account-balance'] {
	margin: 0px;
	color: #ffffff;
	font-size: 22px;
}

.account-balance-button {
	display: flex;
	flex-direction: row;
	width: 320px;
	justify-content: space-between;
	margin-top: 1rem;
}

.account-balance-button > button {
	color: #ffffff;
	width: 8.8rem;
	border-radius: 14px;
	box-shadow: 3px 6px 5px #1a19193e;
}

button[name='fill'] {
	background-color: #a8d7b0;
	width: 8.8rem;
}

button[name='send'] {
	background-color: #53b36c;
	width: 8.8rem;
}
