.group-info-container {
	display: flex;
	flex-direction: column;
}

.group-info-profile-picture-container {
	margin-bottom: 0rem;
}

.group-info-profile-picture,
.group-info-profile-placeholder {
	display: block;
	width: 100%;
	height: 10rem;
	object-fit: cover;
	border-bottom: 1px solid #dfdfdf;
}

.group-info-profile-placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ccc;
}

.group-info-profile-input {
	display: none; /* input 파일 선택 버튼 숨김 */
}

.group-info-details,
.group-info-members {
	border-bottom: 1px solid #dfdfdf;
}

.group-info-header,
.group-info-members-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	border-bottom: 1px solid #dfdfdf;
}

.group-info-header-actions {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.group-info-toggle-button {
	background-color: #fff;
	border: none;
	cursor: pointer;
}

.group-info-edit-button,
.group-info-invite-button {
	padding: 0.25rem 0.75rem;
	border: 1px solid #52bd6d;
	background-color: #fff;
	color: #52bd6d;
	cursor: pointer;
	border-radius: 0.5rem;
}

.group-info-body {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem 1rem;
}
.group-info-members-list {
	display: flex;
	flex-direction: column;
}

.group-info-members-list-accepted {
	padding: 0.5rem 1rem;
}

.group-info-members-list-waiting {
	padding: 0.5rem 1rem;
}

.group-info-name,
.group-info-intro {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.group-info-name-input,
.group-info-intro-input {
	border: 1px solid #52bd6d;
	border-radius: 0.5rem;
	padding: 0 0.25rem;
	background-color: #fffdf5;
	font-family: 'Pretendard';
	font-size: 1rem;
}

.group-info-start-date-value {
	display: flex;
	gap: 0.25rem;
}

.group-info-name-value,
.group-info-intro-value {
	display: flex;
	gap: 0.25rem;
}

.group-info-members-count {
	text-align: center;
	font-size: 0.875rem;
	color: gray;
}

.group-info-members-actions {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.group-info-member {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	border-bottom: 1px solid #dfdfdf;
}

.group-info-member-profile {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 99rem;
}

.group-info-member-details {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.group-info-member-name {
	font-size: 1rem;
}

.group-info-pending-invites {
	display: flex;
	flex-direction: column;
}

.group-info-pending-label {
	padding: 1rem 1rem;
}

.group-info-member-actions {
	display: flex;
	gap: 0.75rem;
}

.group-info-member-actions button {
	padding: 0 1.25rem;
	display: flex;
	align-items: center;
	border-radius: 0.5rem;
}

.group-info-member-approve {
	border: none;
	background-color: #52bd6d;
}

.group-info-member-reject {
	border: 1px solid red;
	background-color: #fff;
}

.group-info-logout {
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	bottom: 8.5vh;
}

.logout-button button {
	display: flex;
	width: 90%;
	height: 2.5rem;
	border-radius: 5px;
	border: 1px;
	background-color: red;
	color: white;
	font-weight: 700;
	justify-content: center;
	align-items: center;
}
