.group-background-image {
	width: 100%;
	height: 9rem;
	object-fit: cover;
}

.feed-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: #fffdf5;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.feed-area {
	/* border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF; */
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0.75rem 0;
	background-color: #fff;
}

.feed-head-area {
	display: flex;
	margin: 0 0.75rem;
	justify-content: space-between;
	align-items: center;
}

.feed-profile-area {
	display: flex;
	align-items: center;
}

.feed-head-right {
	display: flex;
}

.feed-delete-button {
	border: none;
	border-radius: 0.5rem;
	padding: 0 0.5rem;
	background-color: red;
	color: white;
	font-size: 0.75rem;
	font-family: 'Pretendard';
}

.feed-profile-image {
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.5rem;
	border-radius: 10rem;
}

.feed-profile-name {
	font-weight: 700;
}

.feed-profile-date {
	font-size: 0.75rem;
	color: gray;
}

.feed-account-history {
	font-size: 0.75rem;
	background-color: #f7ffc6;
	padding: 0.5rem;
	font-weight: 700;
	border-radius: 10rem;
}

.feed-post-area {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-decoration: none;
}

.feed-post-area:visited {
	color: inherit;
}

.feed-post-content {
	margin: 0 0.75rem;
	font-size: 0.875rem;
	color: black;
}

.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 3; /* 최대 4줄 */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}

.feed-post-image {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.feed-att-area {
	display: flex;
	margin: 0 0.75rem;
	gap: 0.75rem;
}

.feed-att-like {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.feed-att-like-count {
	color: gray;
}

.feed-att-comment {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.feed-att-comment-count {
	color: gray;
}

.feed-write-btn {
	position: fixed;
	background-color: #52bd6d;
	bottom: 5rem;
	right: 1rem;
	border-radius: 10rem;
	padding: 0.375rem;
	width: 2rem;
	height: 2rem;
}

.group-background-image {
	width: 100%;
	height: 9rem;
	object-fit: cover;
}

.group-feed {
	position: relative; /* position 설정 */
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.group-feed.fade-in {
	opacity: 1;
}

.group-feed.loaded {
	opacity: 1; /* loaded 클래스가 적용되면 투명도 1로 변경 */
}

.group-background-image {
	width: 100%;
	height: 9rem;
	object-fit: cover;
}

.feed-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: #fffdf5;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.loading {
	position: absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: opacity 0.5s ease;
}

.loading.fade-out {
	opacity: 0;
}

.loading.loaded {
	opacity: 0;
	transition: opacity 0.5s ease;
	pointer-events: none; /* 로딩이 끝난 후에 클릭 이벤트 방지 */
}

.loading span {
	/* 기존 로딩 애니메이션 스타일 유지 */
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: gray;
	border-radius: 50%;
	animation: loading 1s linear infinite;
}

.loading span:nth-child(1) {
	animation-delay: 0s;
	background-color: rgb(252, 71, 107);
	margin-right: 0.5rem;
}

.loading span:nth-child(2) {
	animation-delay: 0.2s;
	background-color: rgb(77, 164, 250);
}

.loading span:nth-child(3) {
	animation-delay: 0.4s;
	background-color: rgb(156, 226, 25);
	margin-left: 0.5rem;
}

@keyframes loading {
	0%,
	100% {
		opacity: 0;
		transform: scale(0.5);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
}

.feed-container p {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: #fffdf5;
	height: 50vh;
	align-items: center;
	justify-content: center;
}
