@import 'pretendard/dist/web/static/pretendard.css';

body {
	margin: 0;
	font-family: 'Pretendard', 'Roboto', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fffdf5;
}

body {
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
